<div *ngFor="let author of authors" class="rs-author-details">
  <button class="rs-remove-author-btn" mat-icon-button color="accent" (click)="removeAuthor(author)">
    <mat-icon>remove</mat-icon>
  </button>
  <div class="rs-fields">
    <mat-form-field>
      <input matInput placeholder="Imię" [(ngModel)]="author.firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Drugie imię" [(ngModel)]="author.middleName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nazwisko" [(ngModel)]="author.lastName">
    </mat-form-field>
  </div>
</div>

<button mat-icon-button color="primary" (click)="addAnotherAuthor()">
  <mat-icon>add</mat-icon>
</button>
