@import "variables";

:host {
  border-right: 2px solid $main-green-color;

  .rs-issue-container {
    display: flex;
    flex-direction: row;

    &:hover, &.rs-selected {
      color: $white;
    }

    &:hover {
      background-color: $main-green-color;
    }

    &.rs-selected {
      background-color: $main-blue-color;

      .rs-issue {
        color: $white;
      }
    }
  }

  .rs-add-issue {
    width: 100%;
    background-color: $main-green-color;
    color: $white;

    border: none;
    border-bottom: 2px solid $main-green-color;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $hover-color;
    }

  }

  .rs-issues-list {

  }

  .rs-edit-issue-btn {
    background: transparent;

    border-color: #fff;
    border-style: solid;
    border-right-width: 2px;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: $hover-color;
    }
  }

  .rs-issue {
    flex: 1;
    font-size: 1rem;
    padding: 5px 15px;
    text-align: right;
    color: $black;
    cursor: pointer;
  }
}
