<rs-basic-wrapper>
  <div id="author-requirements">
    <h3>WSKAZÓWKI DLA AUTORÓW / REGULAMIN PUBLIKOWANIA</h3>
    <p>
      W czasopiśmie „Rozprawy Społeczne” zamieszczane są następujące rodzaje prac:
    </p>
    <ul>
      <li>rozprawy i artykuły,</li>
      <li>praktyka, badania, wdrożenia i zdrowie społeczne,</li>
      <li>sprawozdania z konferencji naukowych,</li>
      <li>recenzje,</li>
      <li>varia (informacje o konferencjach, streszczenia prac doktorskich i habilitacyjnych, notki biograficzne),</li>
      <li>listy do Redakcji zawierające opinie lub komentarz na temat opublikowanych wcześniej prac,</li>
      <li>reklamy, które mogą być umieszczone na oddzielnych stronach czasopisma; ceny reklam będą negocjowane indywidualnie.</li>
    </ul>
    <p>
      Artykuły publikowane są w języku polskim (tytuł, streszczenie i słowa kluczowe dodatkowo w j. angielskim), bądź w j. angielskim (tytuł, streszczenie i słowa kluczowe dodatkowo w j. polskim). Autorzy prac w j. polskim mogą dostarczyć tytuł, streszczenie i słowa kluczowe w j. angielskim, tłumaczenie może również zlecić redakcja; autorzy nie ponoszą kosztów tłumaczenia.
    </p>
    <br>
    <p>
      W czasopiśmie publikowane są wyłącznie prace uprzednio niepublikowane.
    </p>
    <br>
    <h4>Składanie prac i wymagania techniczne</h4>
    <p>
      Artykuł należy przesłać do redakcji „Rozpraw Społecznych” drogą mailową na adres <a href="mailto:{{ contactInfo.email }}">{{ contactInfo.email }}</a>.
    </p>
    <p class="bold-text">
      Przed rozpoczęciem procesu przygotowania pracy do publikacji autor/ autorzy przesłanych artykułów zobowiązani są do wniesienia bezzwrotnej opłaty w wysokości 150 zł. Przed wniesieniem opłaty należy skontaktować się z Redakcją w celu ustalenia właściwej formy wpłaty i szczegółów dotyczących faktury. Autor zobowiązany jest do przelania podanej kwoty na konto Państwowej Szkoły Wyższej im. Papieża Jana Pawła II w Białej Podlaskiej: Bank Zachodni WBK S.A., <br>płatność z Polski: 11 1500 1331 1213 3004 3528 0000; <br>płatność z innych krajów: 11 1500 1331 1213 3004 3528 0000, SWIFT: WBKPPLPP. <br>Obowiązkiem Autora jest również dostarczenie do Redakcji potwierdzenia dokonania wpłaty (np. w formie elektronicznej na adres mailowy).
    </p>
    <p class="underlined-text">
      Wymagania techniczne:
    </p>
    <ul>
      <li>edytor: Microsoft Word,</li>
      <li>czcionka: 12 punktów Times New Roman,</li>
      <li>margines: lewa strona 2 cm, prawa strona 3 cm,</li>
      <li>wyrównanie: justowanie,</li>
      <li>interlinia: 1,5 wiersza.</li>
    </ul>
    <p class="underlined-text">
      Wskazówki edytorskie:
    </p>
    <ul>
      <li>klawisza ENTER używa się tylko na końcu akapitu (wszystkie tytuły, punkty będące wyliczeniem itp. traktuje się jako odrębne akapity),</li>
      <li>wcięcia akapitowe zaznacza się tylko za pomocą tabulatora lub innych narzędzi użytego edytora. Nie używać w tym celu spacji. Spacje należy stawiać tylko dla oddzielenia wyrazów, po kropce, przecinku, wykrzykniku, dwukropku, średniku itp.,</li>
      <li>nie używać spacji za nawiasem otwierającym i przed nawiasem zamykającym, a także przed i za odnośnikiem cyfrowym (nigdy przed tymi znakami),</li>
      <li>nie wstawiać tzw. twardej spacji, np. w celu przeniesienia spójników „i”, „a” do następnej linijki.</li>
    </ul>
    <h4>Deklaracje autorskie</h4>
    <p>
      Do składanych prac należy dołączać deklarację autorów (podpisują wszyscy autorzy), a także deklarację etyki, którą wypełnia i podpisuje autor korespondencyjny. Formularze deklaracji dostępne są on-line na stronie http://www.pswbp.pl/index.php/pl/rozprawy-spoleczne.
    </p>
    <h4>Układ pracy</h4>
    <p>
      Teksty nadsyłanych artykułów nie powinny przekraczać jednego arkusza wydawniczego (40 000 znaków ze spacjami, wliczając tytuł, streszczenie, słowa kluczowe i spis literatury).
    </p>
    <h5>
      str. 1. Strona tytułowa
    </h5>
    <p>
      Na stronie tytułowej należy podać: tytuł pracy; nazwiska autorów z afiliacją; imię, nazwisko, adres, numer telefonu (ew. faksu) oraz adres e-mail  autora do korespondencji, numery ORCID wszystkich autorów.
    </p>
    <h5>
      str. 2. Streszczenie
    </h5>
    <p>
      Streszczenie (maks. 150 słów) powinno składać się z następujących części (w przypadku artykułów badawczych): cel pracy, materiał i metody badawcze, wyniki oraz wnioski. Pod tekstem streszczenia należy umieścić 3-6 słów kluczowych. Wyrazy „słowa kluczowe” i „streszczenie” powinny być pogrubione.
    </p>
    <h5>
      str. 3. i następne: tekst główny
    </h5>
    <p>
      Tekst główny prac badawczych powinien składać się z następujących części: wstęp, materiał i metody, wyniki badań, dyskusja, wnioski, podziękowania i wyrazy uznania (jeżeli potrzebne, w tej części pracy powinny być ujawnione np. źródła finansowania [granty, projekty itp.], osoby, które nie są autorami pracy, ale miały wpływ na jej kształt), przypisy (jeżeli występują), literatura. W publikacjach innego typu należy zachować logiczną ciągłość tekstu, a tytuły poszczególnych części powinny odzwierciedlać omawiane w nich zagadnienia.
    </p>

    <h4>Cytowanie</h4>
    <p>
      Cytowanie i spis literatury w czasopiśmie „Rozprawy Społeczne” powinno być zgodne z regułami APA, dostosowanymi do polskich norm językowych (źródło: Harasimczuk, J., Cieciuch, J. (2012). <i>Podstawowe standardy edytorskie naukowych tekstów psychologicznych w języku polskim na podstawie reguł APA.</i> Pobrane z: http://www.athenaeum.umk.pl/pliki/APA.pdf.)
    </p>
    <uL>
      <li>gdy praca ma jednego autora (Kowalski, 2011)</li>
      <li>gdy praca ma dwóch autorów – za każdym razem podajemy obydwa nazwiska (Kowalski, Igrekowski, 2011)</li>
      <li>gdy praca ma trzech autorów: pierwsze cytowanie w tekście (Kowalski, Igrekowski, Iksiński, 2011), kolejne cytowanie w tekście (Kowalski i in., 2011); analogicznie postępujemy, gdy praca ma czterech i pięciu autorów – przy pierwszym cytowaniu podajemy wszystkie nazwiska, przy kolejnym – nazwisko pierwszego autora i „i in.”.</li>
      <li>gdy praca ma sześciu lub więcej autorów każde cytowanie powinno brzmieć (Iksiński i in., 2011)</li>
      <li>w przypadku dosłownego cytowania pracy, po dacie i po przecinku należy podać numery stron, np. (Kowalski, 2011, s. 12)</li>
      <li>jeżeli odwołujemy się do prac różnych autorów, którzy mają takie same nazwiska, należy wpisać inicjały imion tych autorów, np. (Kowalski Z., 2011)</li>
      <li>jeżeli kilka prac tego samego autora zostało opublikowanych w tym samym roku, należy wstawić litery a, b, c itd. po roku publikacji, zarówno w cytowaniu, jak i w spisie literatury, np. (Kowalski, 2014a).</li>
    </uL>
    <h4>Literatura</h4>
    <p>
      Wykaz literatury, umieszczony na końcu rozprawy, powinien być uporządkowany alfabetycznie i ponumerowany. Poszczególne pozycje literatury należy zapisywać według wzoru:
    </p>
    <br>
    <p>Artykuł w czasopiśmie:</p>
    <p>
      Iksiński, A., Kowalski, B. (rok). <i>Tytuł artykułu. Tytuł czasopisma kursywą, nr rocznika/tomu kursywą</i> (nr zeszytu/numeru), strona początku-strona końca.
      Uwaga. jeśli artykuł ma numer DOI (Digital Object Identifier), należy podać go na końcu zapisu bibliograficznego jako pełny link, np. https://doi.org/10.5114/hpc.2017.70524
    </p>
    <br>
    <p>Książka:</p>
    <p>
      Iksiński, A., Kowalski, B. (rok). <i>Tytuł książki kursywą.</i>  Miejsce  wydania: Wydawnictwo.
    </p>
    <br>
    <p>Książka napisana pod redakcją:</p>
    <p>
      Iksiński, A., Kowalski, B. (red.). (rok). <i>Tytuł książki kursywą.</i>  Miejsce  wydania: Wydawnictwo.
    </p>
    <br>
    <p>Rozdział:</p>
    <p>
      Kowalski, A. (rok). Tytuł rozdziału. W: B. Iksiński, C. Igrekowski (red.), <i>Tytuł książki kursywą</i> (s. strona początku–strona końca). Miejsce wydania: Wydawnictwo.
    </p>
    <br>
    <p>Źródło internetowe:</p>
    <p>
      Kowalski, A. (rok). <i>Tytuł tekstu kursywą.</i> Pobrane z: adres strony internetowej.
    </p>
    <h4>Tabele i rysunki</h4>
    <ul>
      <li>tabele i rysunki powinny być numerowane i opisane; przykład: Tabela 1. Porównanie nawyków żywieniowych studentów; Rycina 1. Udział w dodatkowych formach dokształcania. Po tytule tabeli lub rysunku nie stawia się kropki;</li>
      <li>tytuł tabeli umieszcza się nad tabelą, tytuł rysunku – pod rysunkiem;</li>
      <li>pod tabelami/rycinami należy podać źródło, przykład: Źródło: opracowanie własne; Źródło: dane GUS; Źródło: Król 2014. Na końcu źródła zawsze powinna być kropka;</li>
      <li>ryciny powinny być wyraźne i czytelne, rozróżnianie danych – nie za pomocą kolorów, ale różnych odcieni szarości.</li>
    </ul>
    <h4>Ocena pracy (zasady recenzowania publikacji)</h4>
    <p>
      Artykuły zgłoszone do redakcji zostają poddane wstępnej weryfikacji pod względem formalnym. Niespełnienie wymogów formalnych może skutkować niedopuszczeniem artykułu do recenzji naukowej i jego wycofaniem. Aby ułatwić pracę autorom i zapobiec najczęściej spotykanym błędom i uchybieniom, na stronie internetowej czasopisma dostępna jest tzw. lista kontrolna, dzięki której autorzy mogą upewnić się, czy artykuł został należycie przygotowany przed wysłaniem do redakcji.
      Złożone i wstępnie zweryfikowane artykuły podlegają anonimowej recenzji przez co najmniej dwóch niezależnych recenzentów spoza jednostki. W innych rozwiązaniach recenzent musi podpisać deklarację o nie występowaniu konfliktu interesów; za konflikt interesów uznaje się zachodzące między recenzentem a autorem:
    </p>
    <ol type="a">
      <li>bezpośrednie relacje osobiste (pokrewieństwo, związki prawne, konflikt),</li>
      <li>relacje podległości zawodowej,</li>
      <li>bezpośrednia współpraca naukowa w ciągu ostatnich dwóch lat poprzedzających przygotowanie recenzji.</li>
    </ol>
    <p>
      Autor może podać nazwisko potencjalnego recenzenta, lecz Redakcja zastrzega sobie prawo
      o decyzji o jego wyborze. W celu przeprowadzenia anonimowej recenzji, do składanych artykułów należy dołączyć tzw. ślepą stronę, zawierającą wyłącznie tytuł pracy. Recenzja posiada formę pisemną (formularz recenzencki podany jest na stronie internetowej czasopisma) i kończy się jednoznacznym wnioskiem co do dopuszczenia artykułu do publikacji lub jego odrzucenia.
      W zależności od oceny recenzenta, Redakcja podejmuje decyzję o dalszym losie pracy. Decyzja Redakcji jest ostateczna.
      Nazwiska recenzentów poszczególnych publikacji/numerów nie są ujawniane; raz w roku czasopismo podaje do publicznej wiadomości listę recenzentów współpracujących.
    </p>
    <h4>Korekta autorska</h4>
    <p>
      Po opracowaniu redakcyjnym i graficznym praca zostanie przekazana do autora w celu naniesienia przez niego korekty autorskiej. Obowiązkiem autora jest odesłanie korekty w ciągu jednego tygodnia. Kosztami poprawek innych niż drukarskie będzie obciążony autor.
    </p>
    <h4>Wyjaśnienie dotyczące „ghostwriting”</h4>
    <p>
      Rzetelność w nauce stanowi jeden z jej jakościowych fundamentów. Czytelnicy powinni mieć pewność, iż autorzy publikacji w sposób przejrzysty, rzetelny i uczciwy prezentują rezultaty swojej pracy, niezależnie od tego, czy są jej bezpośrednimi autorami, czy też korzystali z pomocy wyspecjalizowanego podmiotu (osoby fizycznej lub prawnej).
      Dowodem etycznej postawy pracownika naukowego oraz najwyższych standardów redakcyjnych powinna być jawność informacji o podmiotach przyczyniających się do powstania publikacji (wkład merytoryczny, rzeczowy, finansowy etc.), co jest przejawem nie tylko dobrych obyczajów, ale także społecznej odpowiedzialności.
    </p>
    <br>
    <p>
      Przykładami przeciwstawnymi są „ghostwriting” i „guest authorship”.
      <br>
      Z <b>„ghostwriting”</b> mamy do czynienia wówczas, gdy ktoś wniósł istotny wkład w powstanie publikacji, bez ujawnienia swojego udziału jako jeden z autorów lub bez wymienienia jego roli w podziękowaniach zamieszczonych w publikacji.
      <br>
      Z <b>„guest authorship”</b> („honorary authorship”) mamy do czynienia wówczas, gdy udział autora jest znikomy lub w ogóle nie miał miejsca, a pomimo to jest autorem/współautorem publikacji.
      <br>Aby przeciwdziałać przypadkom „ghostwriting”, „guest authorship” redakcja czasopisma stara się wprowadzać odpowiednie procedury swoiste dla reprezentowanej dziedziny bądź dyscypliny nauki lub wdrożyć poniższe rozwiązania:
    </p>
    <ol type="1">
      <li>Redakcja wymaga od autorów publikacji ujawnienia wkładu poszczególnych autorów w powstanie publikacji (z podaniem ich afiliacji oraz kontrybucji, tj. informacji kto jest autorem koncepcji, założeń, metod, protokołu itp. wykorzystywanych przy przygotowaniu publikacji), przy czym główną odpowiedzialność ponosi autor zgłaszający manuskrypt.</li>
      <li>Redakcja informuje w „Instrukcjach dla autorów”, że „ghostwriting”, „guest authorship” są przejawem nierzetelności naukowej, a wszelkie wykryte przypadki będą demaskowane, włącznie z powiadomieniem odpowiednich podmiotów (instytucje zatrudniające autorów, towarzystwa naukowe, stowarzyszenia edytorów naukowych itp.).</li>
      <li>Redakcja powinna uzyskać informację o źródłach finansowania publikacji, wkładzie instytucji naukowo-badawczych, stowarzyszeń i innych podmiotów („financial disclosure”).</li>
      <li>Redakcja wprowadza zasadę dokumentowania wszelkich przejawów nierzetelności naukowej, zwłaszcza łamania i naruszania zasad etyki obowiązujących w nauce.</li>
    </ol>
    <h4>Prawa redakcji</h4>
    <p>
      Redakcja zastrzega sobie prawo poprawiania usterek stylistycznych, interpunkcyjnych, językowych itp. oraz dokonywania skrótów. Prace przygotowane niezgodnie z regulaminem będą odsyłane autorom do poprawy.
    </p>
    <h4>Adres Redakcji:</h4>
    <p>
      PSW im. Papieża Jana Pawła II w Białej Podlaskiej
      <br>ul. Sidorska 95/97, pok. 334
      <br>21–500 Biała Podlaska
      <br>Tel. <phone-num [phone_num]="contactInfo.phone_num"></phone-num>
      <br>Kontakt: Paulina Rynkiewicz, Agnieszka Filipiuk
      <br>E-mail: <a href="mailto:{{ contactInfo.email }}">{{ contactInfo.email }}</a>, <a href="mailto:a.filipiuk@pswbp.pl">a.filipiuk@pswbp.pl</a>
    </p>
    <h4>Pliki do pobrania:</h4>
    <ul class="additional-files">
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!%20O%C5%9AWIADCZENIE%20AUTORA_1%20autor.pdf">
          Oświadczenie autora (1 autor) PL
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!%20O%C5%9AWIADCZENIE%20AUTORA_wieloautorska.pdf">
          Oświadczenie autora (wieloautorska) PL
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!%20AUTHOR'S%20DECLARATION_1%20author.pdf">
          Oświadczenie autora (1 autor) EN
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!%20AUTHOR'S%20DECLARATION_2%20or%20more%20authors.pdf">
          Oświadczenie autora (wieloautorska) EN
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!%20Lista%20kontrolna%20dla%20autor%C3%B3w%20artyku%C5%82%C3%B3w_jak%20z%C5%82o%C5%BCy%C4%87%20artyku%C5%82%20krok%20po%20kroku.pdf">
          Lista kontrolna dla autorów artykułów
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!!!Rozprawy%20Spo%C5%82eczne%20-%20formularz%20recenzji.docx">
          Formularz recenzji
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!DEKLARACJA%20ETYKI%20-%20RS.pdf">
          Deklaracja etyki PL
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/Declaration%20of%20ethics%20-%20RS%20-eng.pdf">
          Deklaracja etyki EN
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!Wytyczne%20dla%20autor%C3%B3w%20-%20Wydawnictwo%20PSW%20JPII_RS_2017.doc">
          Wytyczne dla autorów PL
        </a>
      </li>
      <li>
        <mat-icon class="icon">attachment</mat-icon>
        <a target="_blank"
           href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/!Wytyczne%20dla%20autorow%20-%20Wydawnictwo%20PSW%20JPII_RS_ENGLISH_ID%20korekta.pdf">
          Wytyczne dla autorów EN
        </a>
      </li>
    </ul>
  </div>
</rs-basic-wrapper>

