@import "variables";

rs-library-editorial {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;

  .rs-library-main-spinner {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;

    .rs-library-main-spinner-container {
      z-index: 4;
    }
  }

  .rs-list-of-issues-container, .rs-list-of-articles-container {
    position: relative;
    border: 2px solid $main-green-color;
  }

  .rs-list-of-issues-container {
    border-right: none;
    width: 300px;
  }

  .rs-list-of-articles-container {
    flex: 1;
  }

}
