@import "variables";

:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;

  .rs-list-of-issues-container, .rs-list-of-articles-container {
    position: relative;
    border: 2px solid $main-green-color;
    overflow: auto;
  }

  .rs-list-of-issues-container {
    border-right: none;
    width: 300px;
  }

  .rs-list-of-articles-container {
    flex: 1;
  }

  .rs-spinner-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &.rs-content-spinner {
      z-index: 2;
    }
  }
}
