<rs-basic-wrapper id="rs-ethical-standards">
  <div>
    <p class="rs-bold">
      Redakcja czasopisma naukowego „Rozprawy Społeczne” zobowiązuje się do przestrzegania
      standardów etycznego postępowania na wszystkich etapach procesu publikacji zalecanych
      przez COPE (Committee on Publication Ethics/ Komitet ds. Etyki Publikacji). Szczegółowe
      informacje na temat kryteriów prezentują diagramy COPE:
    </p>
    <a target="_blank" href="https://publicationethics.org/files/Full%20set%20of%20Polish%20flowcharts.pdf">https://publicationethics.org/files/Full%20set%20of%20Polish%20flowcharts.pdf</a>
  </div>
  <br>

  <h5 class="rs-bold">1. Publikacja i autorstwo</h5>
  <p>
    Do redakcji czasopisma <b>„Rozprawy Społeczne”</b> przyjmowane są artykuły dotychczas
    niepublikowane oraz spełniające następujące kryteria:
  </p>
  <ul>
    <li>
      dostosowanie do wymogów sformułowanych we „Wskazówkach dla autorów/regulaminie
      publikowania”,
    </li>
    <li>
      wykorzystanie wyników badań, które nie były uprzednio opisywane w żadnym innym
      artykule i nie były publikowane w innych czasopismach,
    </li>
    <li>
      podpisanie przez autorów następujących deklaracji: deklaracji autorskiej dotyczącej
      udzielenia licencji nieodpłatnej niewyłącznej oraz deklaracji etyki zawierającej: deklarację
      o niewystępowaniu konfliktu interesów oraz (w przypadku, gdy artykuł napisany został
      przez dwóch lub więcej autorów) deklarację wkładu poszczególnych autorów w powstanie
      publikacji,
    </li>
    <li>
      rzetelne sporządzenie spisu literatury i stosowanie przyjętych przez czasopismo zasad
      cytowania – w spisie literatury powinny znaleźć się jedynie te pozycje, które były
      cytowane w tekście.
    </li>
  </ul>
  <p>
    Redakcja nie akceptuje jakiejkolwiek formy plagiatu (w tym autoplagiatu, kopiowania całości lub
    fragmentów innych dzieł bez podania źródła, podpisania tylko swoim nazwiskiem pracy napisanej
    wspólnie z inną osobą/innymi osobami, przywłaszczenia autorstwa, opublikowania cudzej pracy z
    naniesionymi zmianami, np. redakcyjnymi, stylistycznymi).
  </p>
  <br>

  <h5 class="rs-bold">2. Odpowiedzialność autorów</h5>
  <p>
    Autorzy zgłaszający swoje prace do publikacji w czasopiśmie <b>„Rozprawy Społeczne”</b> są
    zobligowani do:
  </p>
  <ul>
    <li>
      wykonania pracy zgodnie z najlepszą wiedzą oraz z zachowaniem należytej staranności,
    </li>
    <li>
      udziału w procesie recenzji, tj. są zobowiązani do naniesienia wszelkich sugerowanych
      zmian i korekt, oraz poprawiania wszystkich wykazanych błędów (przez recenzenta, ale
      również przez redakcję czasopisma). W przypadku, gdy autorzy nie zgadzają się z
      wybranymi uwagami bądź propozycjami recenzenta lub redaktora, powinni pisemnie
      uzasadnić swój sprzeciw,
    </li>
    <li>
      zadeklarowania wkładu w powstanie artykułu i przebieg badań, jeśli praca ma charakter
      badawczy, poprzez wypełnienie deklaracji wkładu poszczególnych autorów w powstanie
      publikacji (zob. pkt. 1),
    </li>
    <li>
      zobowiązania się, ze wszystkie dane wykorzystane w artykule są realne i autentyczne,
    </li>
    <li>
      wykazania w oddzielnej części pracy podziękowania instytucjom bądź osobom, które
      przyczyniły się do powstania pracy, ale nie mogą być wskazani jako współautorzy, jak
      również wyraźnej informacji, że praca powstała dzięki dofinansowaniu np. w postaci
      grantów, subwencji, projektu itp.,
    </li>
  </ul>
  <br>

  <h5 class="rs-bold">3. Recenzja naukowa / odpowiedzialność recenzenta</h5>
  <p>
    Recenzenci współpracujący z czasopismem <b>„Rozprawy Społeczne”</b> są zobligowani do:
  </p>
  <ul>
    <li>
      wykonania recenzji w ramach wyznaczonego terminu, z wykorzystaniem formularza
      recenzji przyjętego przez redakcję (dopuszczalne są również dodatkowe komentarze
      zawarte na oddzielnej kartce, jak również zaznaczanie błędów, uwag itp. w tekście pracy).
      Recenzja powinna kończyć się jednoznacznym wnioskiem co do dopuszczenia artykułu do
      publikacji bądź jego wycofania.
    </li>
    <li>
      formułowania obiektywnej, konstruktywnej, rzetelnej i sprawiedliwej recenzji,
    </li>
    <li>
      respektowania wszelkich zasad poufności,
    </li>
    <li>
      zadeklarowania wszelkich możliwych form występowania konfliktu interesów (za konflikt
      interesów zachodzący między recenzentem a autorem uznaje się: bezpośrednie relacje
      osobiste – pokrewieństwo, związki prawne, konflikt; relacje podległości zawodowej,
      bezpośrednia współpraca naukowa w ciągu ostatnich dwóch lat poprzedzających
      przygotowanie recenzji),
    </li>
    <li>
      wykonywania recenzji jedynie tych artykułów, które są zgodne z ich zainteresowaniami
      badawczymi i dziedziną nauki, którą się zajmują,
    </li>
    <li>
      zaproponowania autorom, by poszerzyli swoją wiedzę o opublikowane wcześniej prace
      dotyczące danego zagadnienia, jeżeli istnieje taka konieczność (np. brak odniesienia się w
      tekście do danej pracy/prac skutkuje tym, że może być uznany np. za nierzetelny,
      nieaktualny itp.),
    </li>
    <li>
      odrzucenia wszelkich osobistych uprzedzeń oraz stronniczości przy wykonywaniu
      recenzji, unikania emocjonalnych wypowiedzi w recenzji,
    </li>
    <li>
      ujawniania wszelkich wykrytych przypadków plagiatu bądź innych nieprawidłowości w
      zakresie etyki.
    </li>
  </ul>
  <br>

  <h5 class="rs-bold">4. Odpowiedzialność redakcji</h5>
  <p>
    Redakcja czasopisma <b>„Rozprawy Społeczne”</b> jest zobligowana do:
  </p>
  <ul>
    <li>
      czuwania, by w procesie recenzji, jak również w procesie odrzucania lub akceptacji
      artykułów nie zachodził konflikt interesów,
    </li>
    <li>
      posiadana pełnej odpowiedzialności i autorytetu przy odrzucaniu lub akceptacji artykułów,
      uzasadnionej i rozsądnej selekcji artykułów,
    </li>
    <li>
      eliminowania i dokumentowania wszelkich przejawów łamania i naruszania zasad etyki
      obowiązujących w nauce, w tym ujawnionych przypadków nierzetelności naukowej –
      „ghostwriting” (pominięcie w autorstwie bądź w podziękowaniach osoby lub instytucji,
      która wniosła swój wkład bądź przyczyniła się do powstania pracy) oraz „guest autorship/
      honorary autorship” (wykazanie jako współautora osoby, której udział w pracy jest
      znikomy bądź żaden). W związku z tym redakcja oświadcza, że wszelkie wykryte
      przypadki „ghostwriting” oraz „guest authorship” będą demaskowane, włącznie z
      powiadomieniem odpowiednich podmiotów, w tym instytucji zatrudniających autorów,
    </li>
    <li>
      poinformowania autorów o wszelkich zauważonych błędach z prośbą o ich korektę bądź
      usunięcie,
    </li>
    <li>
      czuwania nad prawidłowym przebiegiem procedury recenzji (anonimowość recenzji,
      pośredniczenie pomiędzy recenzentem a autorami),
    </li>
    <li>
      przyjęcia odmowy wykonania recenzji w uzasadnionych przez recenzenta przypadkach
      (np. gdy recenzent deklaruje, że praca nie pokrywa się z jego zainteresowaniami
      badawczymi i dziedziną nauki, którą się zajmuje),
    </li>
    <li>
      poprawiania usterek redakcyjnych, stylistycznych, gramatycznych, ortograficznych i
      interpunkcyjnych, a także stosowania skrótów bez informowania autorów. W przypadku
      ujawnienia usterek merytorycznych, redakcja powinna skonsultować ich korektę z
      autorami,
    </li>
    <li>
      przekazywania autorom na etapie składu graficznego pliku PDF z artykułem w celu
      dokonania korekty autorskiej i ostatecznej akceptacji treści artykułu,
    </li>
    <li>
      odsyłania autorom do poprawy prac przygotowanych niezgodnie z regulaminem
      publikowania,
    </li>
    <li>
      rozpatrywania wszelkich przypadków skarg autorów.
    </li>
  </ul>
  <br>

  <h5 class="rs-bold">5. Etyczne aspekty publikacji</h5>
  <p>
    Redakcja czasopisma <b>„Rozprawy Społeczne”</b> oświadcza, że:
  </p>
  <ul>
    <li>
      prowadzi monitoring stosowania przez wszystkie osoby zaangażowane w proces
      wydawniczy wszelkich zasad etycznych sformułowanych w niniejszej deklaracji,
    </li>
    <li>
      stosuje następujące zasady odrzucania artykułów:
      <ul>
        <li>
          odrzucenie artykułu po wstępnej decyzji Redaktora Naczelnego lub Redaktora
          Tematycznego odnośnie niespełnienia wymogów naukowości, niezgodności
          tematyki z profilem czasopisma, rażących błędów językowych, ubogiego spisu
          literatury, wykrycia wszelkich przejawów nierzetelności opisanych w niniejszej
          deklaracji.
        </li>
        <li>
          odrzucenie artykułu po negatywnej recenzji.
        </li>
        <li>
          odrzucenie artykułu w przypadku niezłożenia przez autorów deklaracji autorskiej
          dotyczącej przeniesienia autorskich praw majątkowych, deklaracji o
          niewystępowaniu konfliktu interesów oraz (w przypadku, gdy artykuł napisany
          został przez dwóch lub więcej autorów) deklaracji wkładu poszczególnych autorów
          w powstanie publikacji.
        </li>
      </ul>
    </li>
    <li>
      dba o utrzymanie integralności dorobku naukowego, tj. w przypadku wykrycia, że
      opublikowany artykuł zawiera nieścisłości, dane wprowadzające w błąd lub dane
      zafałszowane, informacja o tym fakcie powinna być opublikowana w widocznym miejscu,
      artykuł powinien być wycofany, także z baz referencyjnych, aby uniemożliwić jego
      cytowanie.
    </li>
    <li>
      jest gotowa, by opublikować wszelkie korekty, wyjaśnienia, odwołania i sprostowania w
      przypadku stwierdzenia takiej konieczności.
    </li>
  </ul>

  <br>

  <h4>Pliki do pobrania:</h4>
  <div class="rs-attachment">
    <mat-icon class="icon">attachment</mat-icon>
    <a target="_blank"
       href="https://storage.googleapis.com/rozprawy-spoleczne-ea7db.appspot.com/Files%20for%20authors/Ethic%20Statement%20-%20English%20version.pdf">
      Ethics statement
    </a>
  </div>

</rs-basic-wrapper>
