@import "variables";

rs-reviewers-edit {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  .rs-reviewers-for-year {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .rs-list-of-years-container, .rs-list-of-reviewers-container {
    position: relative;
  }

  .rs-list-of-reviewers-container {
    flex: 1;
  }

  .rs-list-of-years-container {
    border: 2px solid $main-green-color;
    height: 100%;
  }

  .rs-reviewers-main-spinner {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;

    .rs-reviewers-main-spinner-container {
      z-index: 4;
    }
  }

}
