<rs-spinner class="rs-reviewers-main-spinner"
            containerClass="rs-reviewers-main-spinner-container"
            [visible]="contentLoading">
  <div class="rs-scrollable rs-list-of-years-container" [class.rs-loading]="reviewerYearsLoading$ | async">
    <rs-spinner
      [diameter]="50"
      [visible]="reviewerYearsLoading$ | async">
      <rs-list-of-years class="rs-years"
                        [years]="years"
                        (yearEvent)="onYearEvent($event)">
      </rs-list-of-years>
    </rs-spinner>
  </div>

  <div class="rs-list-of-reviewers-container">
    <rs-spinner
      [visible]="reviewersLoading$ | async">
      <rs-list-of-reviewers class="rs-reviewers-for-year"
                            [yearId]="selectedYearId"
                            [reviewers]="reviewers"
                            (reviewerEvent)="onReviewerEvent($event)"
                            (yearEvent)="onYearEvent($event)">
      </rs-list-of-reviewers>
    </rs-spinner>
  </div>
</rs-spinner>
