@import "variables";

rs-modal {

  .rs-modal-title {
    margin: 0;
  }

  .rs-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .rs-modal-spinner-container {
    background-color: rgba(255, 255, 255, 0.9);
  }

}
