@import "variables";

$field-horizontal-padding: $universal-padding-half;
$error-height: 20px;

:host {
  display: block;
  position: relative;
  padding-top: $error-height;

  &:not(.rs-has-error) {
    padding-bottom: $error-height;
  }

  &.rs-has-error {
    padding-bottom: 0;

    .rs-field {
      border-color: $red;
    }

    .rs-field-submit-btn {
      background-color: $red;
    }
  }

  .rs-field-container {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;

    input {
      display: none;
    }

  }

  .rs-field {
    border: 2px solid $main-green-color;
    border-right: none;
    border-radius: $border-radius 0 0 $border-radius;

    padding: 0 $field-horizontal-padding;
    height: 100%;
    flex: 1;
    font-size: 16px;
    display: flex;
    align-items: center;

    &.rs-empty-field {

      &:hover {
        border-color: $hover-color;
        cursor: pointer;
      }

    }

    &.rs-disabled-field {
      background-color: rgba(128, 128, 128, 0.1);
      color: #828282;
    }
  }

  .rs-field-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90px;
    background-color: $main-green-color;
    border-radius: 0 $border-radius $border-radius 0;
    border: none;
    color: $white;

    &:hover {
      background-color: $hover-color;
    }

  }

  .rs-field-error {
    max-height: $error-height;
    height: $error-height;
    padding-left: $field-horizontal-padding;
    color: $red;
  }

  .rs-field-placeholder {
    color: #828282;
  }

}
