<ng-container [formGroup]="listOfControls">
  <ng-container formArrayName="{{controlsArrayName}}">
    <div class="rs-control" *ngFor="let control of controls.controls; let i = index;">
      <button [disabled]="controls.controls.length === 1"
              type="button"
              class="rs-remove-control-btn"
              mat-icon-button color="accent"
              (click)="removeControl(i)">
        <mat-icon>remove</mat-icon>
      </button>
      <ng-container rs-control-factory [control]="controlType" [data]="initialData"
                    [formControlName]="i">
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<button type="button"
        mat-icon-button color="primary"
        (click)="addEmptyControl()">
  <mat-icon>add</mat-icon>
</button>

<pre>
  {{ listOfControls.value | json }}
</pre>
<pre>
  {{ listOfControls.valid | json }}
</pre>
