<div class="about">
    <p>
        Szanowni Państwo,
    </p>
    <br>
    <p>
        witamy na nowej stronie czasopisma naukowego "Rozprawy Społeczne".
    </p>
    <br>
    <p>
        Czasopismo „Rozprawy Społeczne” w latach 2007-2009 wydawane było jako rocznik pod nazwą „Rozprawy Naukowe”. W latach 2010-2013 czasopismo wydawano w formie półrocznika, a od roku 2014 po dziś dzień „Rozprawy Społeczne” są kwartalnikiem. Od roku 2014 w „Rozprawach Społecznych” publikowane są artykuły w j. polskim lub w j. angielskim.
    </p>
    <br>
    <p>
        W czasopiśmie zamieszczane są następujące rodzaje prac: rozprawy i artykuły, praktyka, badania, wdrożenia i zdrowie społeczne, sprawozdania z konferencji naukowych, recenzje, varia (informacje o konferencjach, streszczenia prac doktorskich i habilitacyjnych, notki biograficzne), listy do Redakcji zawierające opinie lub komentarz na temat opublikowanych wcześniej prac.
    </p>
    <br>
    <p>
        Zakres tematyczny czasopisma obejmują następujące obszary nauki: pedagogika, edukacja, socjologia, teologia, filozofia, nauki o bezpieczeństwie, psychologia, dydaktyka, komunikacja społeczna, kulturoznawstwo, zdrowie społeczne. Wyrażamy przekonanie, że dzięki tak szerokiej tematyce „Rozprawy Społeczne” mogą w interesujący i wieloaspektowy sposób przedstawiać różnorodne i interesujące artykuły dotykające najróżniejszych sfer ludzkiego życia. Dlatego też czasopismo może stać się obiektem zainteresowania zarówno teoretyków, jak i praktyków, np. nauczycieli, wychowawców, psychologów. Złożoność sytuacji apeluje o naszą refleksję, zarówno w wymiarze indywidualnym, jak i społecznym, abyśmy potrafili zachować naszą w niej podmiotowość i jeszcze bardziej kreatywną oraz innowacyjną postawę. Tym celom pragnie służyć nasze czasopismo, proponując problematykę współtworzoną przez redakcję i przez naszych Autorów i Czytelników.
    </p>
    <br>
    <p>
        Kwartalnik chce zatem stanowić forum wymiany myśli z ukierunkowaniem się nie tylko na naukową refleksję teoretyczną, ale także na wyprowadzanie wniosków praktycznych płynących z badań empirycznych i niesienie pomocy w wysiłkach wdrażania naukowych przemyśleń w podejmowane próby kreatywnego przekształcania rzeczywistości społecznej, ale też chce być forum wymiany doświadczeń praktycznych i badawczych, ze szczególnym uprzywilejowaniem zagadnień edukacji, nauczania i wychowania oraz zdrowia społecznego, przynależących zresztą do podstawowych problemów życia każdej społeczności.
    </p>
</div>