<a id="logo" routerLink="/about">
    <img src="../../../../assets/images/logo_psw_2010_300.png">
</a>
<div class="line-wrapper top">
    <div class="line"></div>
</div>
<ul class="menu-items">
    <li *ngFor="let menuItem of menuItems" class="menu-item" routerLinkActive="active">
        <a routerLink="{{menuItem.url}}">
            <p>{{ menuItem.title }}</p>
            <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
        </a>
    </li>
</ul>
<div *ngIf="contactInfo$ | async" class="hideable-area">
    <div class="line-wrapper bottom">
        <div class="line"></div>
    </div>
    <div class="contact-short-info">
        <div class="large-label">
            <p>KONTAKT</p>
        </div>
        <div class="info">
            <a href="mailto:{{ (contactInfo$ | async).email }}">{{ (contactInfo$ | async).email }}</a>
            <phone-num [phone_num]="(contactInfo$ | async).phone_num"></phone-num>
        </div>
    </div>
</div>
