<!--<rs-auth>-->
  <!--<div class="form-container">-->
    <!--<a routerLink="/login" id="goback">Go back</a>-->

    <!--<h2>Rejestracja</h2>-->

    <!--<span class="error" *ngIf="error" [@fallIn]="state">{{ error }}</span>-->

    <!--<form #formData="ngForm" (ngSubmit)="onSubmit(formData)">-->

      <!--<input type="text" placeholder="Imię" (ngModel)="firstName" name="firstName" class="firstName">-->
      <!--<input type="text" placeholder="Email" (ngModel)="email" name="email" class="email">-->
      <!--<input type="password" placeholder="Hasło" (ngModel)="password" name="password" class="password">-->

      <!--<button type="submit" [disabled]="!formData.valid" class="basic-btn">Stwórz konto</button>-->
    <!--</form>-->
  <!--</div>-->
<!--</rs-auth>-->
