:host {

  .rs-spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    background-color: #fff;
  }

  .rs-spinner {
    margin: auto;
  }
}
