:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .rs-admin-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;

    button {
      color: white;
    }
  }

}
