<rs-spinner class="rs-admin-main-spinner"
  containerClass="rs-admin-main-spinner-container"
  [visible]="pageLoading">
  <div class="rs-admin-header">
    <a *ngIf="showBackToDashboardLink" class="rs-back-to-dashboard" mat-stroked-button [routerLink]="composeDashboardLink()">
      Do panelu administratora
    </a>
    <span *ngIf="viewingAsAnonymous" class="rs-anonymous-indicator">
          Tryb anonimowy
        </span>
    <button mat-raised-button color="primary" (click)="logOut()">Wyloguj</button>
  </div>
  <div class="rs-page-header">
    <h3 class="rs-page-title">{{ pageName }}</h3>
  </div>
  <div class="rs-admin-content-container">
    <router-outlet
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)">
    </router-outlet>
  </div>
</rs-spinner>
