@import "variables";

:host {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;

  justify-content: center;
  align-items: center;

  mat-card {
    width: 420px;
    padding: 0;
    display: flex;
    flex-direction: column;

    .rs-login-form {
      display: flex;
      flex-direction: column;
      margin: $universal-padding $universal-padding-double $universal-padding-double;
    }

  }

  .rs-login-header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    width: 100%;
    padding: $universal-padding-double 0;
    background-color: $main-green-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .rs-header-content {
      color: $white;
      margin: 0;
    }
  }

  .rs-login-form-container {
    position: relative;
    flex: 1;

    .rs-login-form-spinner-container {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.95);
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .rs-login-button-with-error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $universal-padding;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rs-submit-btn {
    width: 100%;
    height: 50px;
    font-size: 18px;
  }

  .rs-login-error {
    text-align: center;
    font-size: 15px;
    color: $red;
  }

}
