<mat-card>
  <div class="rs-login-header">
    <h1 class="rs-header-content">Zalogowanie</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="rs-login-form">

    <mat-form-field color="accent">
      <input matInput formControlName="email"
             type="text" placeholder="Email" class="rs-email">
      <mat-error *ngIf="form.get('email').hasError('required')">
        Podaj login
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput formControlName="password"
             type="password" placeholder="Hasło" class="rs-password">
      <mat-error *ngIf="form.get('password').hasError('required')">
        Podaj hasło
      </mat-error>
    </mat-form-field>

    <button mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!form.valid"
            class="rs-submit-btn">
      Zaloguj się
    </button>

  </form>
</mat-card>
