<div class="rs-attachment">
  <mat-icon class="icon">attachment</mat-icon>
  <a target="_blank"
     href="https://firebasestorage.googleapis.com/v0/b/rozprawy-spoleczne-ea7db.appspot.com/o/Files%20for%20authors%2F_OWIADCZENIE_RODO_-_autorzy.pdf?alt=media&token=1400b9c5-5aa9-40b4-b759-edf7a328c0e7">
    Oświadczenie RODO (PL)
  </a>
</div>
<div class="rs-attachment">
  <mat-icon class="icon">attachment</mat-icon>
  <a target="_blank"
     href="https://firebasestorage.googleapis.com/v0/b/rozprawy-spoleczne-ea7db.appspot.com/o/Files%20for%20authors%2F_GDPR_General_Data_Protection_Regulation_OWIADCZENIE_RODO_-_autorzy_EN.pdf?alt=media&token=af99237f-cae2-4c60-91c5-3be9ebf7c59f">
    Oświadczenie RODO (EN)
  </a>
</div>
<div class="rs-attachment">
  <mat-icon class="icon">attachment</mat-icon>
  <a target="_blank"
     href="https://firebasestorage.googleapis.com/v0/b/rozprawy-spoleczne-ea7db.appspot.com/o/Files%20for%20authors%2F_Klauzula_informacyjna_RODO.pdf?alt=media&token=b25d0c08-f4ee-488c-9e93-414ac6b49c2e">
    Klauzula informacyjna RODO (PL)
  </a>
</div>
<div class="rs-attachment">
  <mat-icon class="icon">attachment</mat-icon>
  <a target="_blank"
     href="https://firebasestorage.googleapis.com/v0/b/rozprawy-spoleczne-ea7db.appspot.com/o/Files%20for%20authors%2F_GDPR_General_Data_Protection_Regulation_Information_clause__Klauzula_informacyjna_RODO_EN.pdf?alt=media&token=55a812ef-65fb-4d6d-b5f7-74d9bbb9af3b">
    Klauzula informacyjna RODO (EN)
  </a>
</div>
