<mat-card class="rs-article-card" [class.rs-add-article-mode]="mode === AvailableModes.ADD">

  <ng-container *ngIf="mode === AvailableModes.ADD; else showArticleDetails">
    <mat-icon>add</mat-icon>
  </ng-container>

  <ng-template #showArticleDetails>
    <div class="rs-article-preview">
      <p class="rs-article-data rs-article-type">{{article.articleType.namePl}}</p>
      <a [routerLink]="composeArticleRouterLink(article.id)" target="_blank">
        <p class="rs-article-data rs-article-title">{{ article.title }}</p>
      </a>
      <div class="rs-article-data rs-article-authors">
        <ng-container *ngFor="let author of article.authors; let last = last;">
          <span class="rs-author">{{ author | author }}</span><span *ngIf="!last">,</span>
        </ng-container>
      </div>
      <p class="rs-article-data rs-location-in-issue">{{ getLocationInIssue() }}</p>
      <a href="{{article.doi}}" target="_blank">
        <p class="rs-article-data rs-article-doi">{{ article.doi }}</p>
      </a>
    </div>
    <div class="rs-buttons-container">

      <div *ngIf="mode === AvailableModes.VIEW" class="rs-view-buttons">
        <ng-container *ngIf="!withoutAbstractBtn">
          <a [routerLink]="composeArticleRouterLink(article.id)" target="_blank" class="rs-button">
            <mat-icon>subject</mat-icon>
            <span>Streszczenie</span>
          </a>
          <div class="rs-separator"></div>
        </ng-container>
        <a href="{{ article.pdf.downloadUrl }}" target="_blank" class="rs-button">
          <mat-icon>library_books</mat-icon>
          <span>Pełna treść artykułu</span>
        </a>
      </div>

      <div *ngIf="mode === AvailableModes.EDIT" class="rs-edit-buttons">
        <button class="rs-button rs-edit-article-btn">
          <mat-icon>edit</mat-icon>
          <span>Edytuj</span>
        </button>
        <div class="rs-separator"></div>
        <button class="rs-button rs-delete-article-btn" (click)="deleteArticle()">
          <mat-icon>delete</mat-icon>
          <span>Usuń</span>
        </button>
      </div>

    </div>
  </ng-template>

</mat-card>
