<mat-card class="article-card">
  <div class="article-preview article-short-info">
    <p class="type">{{article.articleType.namePl}}</p>
    <p class="title">
      <a [routerLink]="['/articles', article.id]" target="_blank">{{article.title}}</a>
    </p>
    <div class="rs-authors">
      <ng-container *ngFor="let author of article.authors; let last = last;">
              <span class="rs-author">{{ authorToString(author) }}</span><span *ngIf="!last">,</span>
      </ng-container>
    </div>
    <p class="location">{{ getLocationInIssue() }}</p>
    <a href="{{article.doi}}" target="_blank" class="doi">{{article.doi}}</a>
  </div>
  <!--<div class="buttons-wrapper">-->
    <!--<div *ngIf="!isEdit" class="redirect-buttons">-->
      <!--<a *ngIf="isShortInfo" [routerLink]="['/articles', article.id]" target="_blank" class="abstract">-->
        <!--<mat-icon>subject</mat-icon>-->
        <!--<span>Streszczenie</span>-->
      <!--</a>-->
      <!--<a href="{{article.pdf}}" target="_blank" class="full-article">-->
        <!--<mat-icon>library_books</mat-icon>-->
        <!--<span>Pełna treść artykułu</span>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div *ngIf="isEdit" class="edit-buttons">-->
      <!--<a [routerLink]="['/articles', article.id]" class="edit-article">-->
        <!--<mat-icon>subject</mat-icon>-->
        <!--<span>Edytuj</span>-->
      <!--</a>-->
      <!--<button mat-button class="delete-article">-->
        <!--<mat-icon>library_books</mat-icon>-->
        <!--<span>Usuń</span>-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
</mat-card>
