@import "variables";

rs-add-article {
  display: flex;
  flex-direction: row;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .rs-form-field-container {
    border-bottom: 2px solid $main-green-color;
    padding: 10px;
    width: 100%;
  }

  .rs-form-field {
    width: 100%;
  }

}
