$universal-padding-value: 20;
$universal-padding: $universal-padding-value + 0px;
$universal-padding-half: $universal-padding-value * 0.5px;
$universal-padding-double: $universal-padding-value * 2px;

$menu-left-width: 220px;

$red: #ff0000;
$main-green-color: #bccf02;
$main-blue-color: #312176;
$menu-hover-color: #b68e2e;
$main-grey-color: #808080;
