$universal-padding-value: 20;
$universal-padding: $universal-padding-value + 0px;
$universal-padding-half: $universal-padding-value * 0.5px;
$universal-padding-double: $universal-padding-value * 2px;

$menu-left-width: 220px;

$white: #ffffff;
$red: #ff0000;
$black: #000000;

$main-green-color: #bccf02;
$main-blue-color: #312176;
$hover-color: #b68e2e;
$main-grey-color: #808080;
$secondary-color: #b68e2e;

$disable-color: #cccccc;

$main-font: Tahoma, serif;

$border-radius: 4px;
